doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
<<<<<<< HEAD
<<<<<<< HEAD

      section
        h1 Hello World

      section
        h2 Keyboard Interaction
        <img src="images/match-ball.jpg" width="640px"><br>
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        <img src="images/match-ball.jpg" width="650px"><br>
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

=======
    
>>>>>>> 9693a82ffab1502fd57e0b62024b8f0dacc15881
=======
    
>>>>>>> 9693a82ffab1502fd57e0b62024b8f0dacc15881
      section(data-bespoke-state='emphatic')
        h3 Trophy
        <img src="images/trophy.jpg" width="480px"><br>
        h6 A replacement trophy was commissioned by FIFA for the 1974 World Cup. Fifty-three submissions were received from sculptors in seven countries. Italian artist Silvio Gazzaniga was awarded the commission. The trophy stands 36.5 centimetres (14.4 inches) tall and is made of 5 kg (11 lb) of 18 carat (75%) gold with a base (13 centimetres [5.1 inches] in diameter) containing two layers of malachite. It has been asserted by Martyn Poliakoff that the trophy is hollow; if, as is claimed, it were solid, the trophy would weigh 70–80 kg and would be too heavy to lift.
                
      section(data-bespoke-state='emphatic')
        h3 Match Ball
        <img src="images/match-ball.jpg" width="480px"><br>
        h6 The adidas brazuca, the Official Match Ball for the 2014 FIFA World Cup Brazil™. The brazuca, which means 'Brazilian' and refers to the Brazilian way of life, is the most-tested adidas ball in history. It was, over a two-and-a-half-year period, tried out by over 600 of the world’s top players or former players including Iker Casillas, Dani Alves, Lionel Messi, Bastian Schweinsteiger and Zinedine Zidane, and 30 teams in ten countries across three continents. The brazuca was also used at a selection of international football matches, albeit with a different design.
        
      section(data-bespoke-state='emphatic')
        h3 Official Mascot
        <img src="images/fuleco.jpg" width="480px"><br>
        h6 Brazilians have selected the name "Fuleco" for the three-banded armadillo mascot for the 2014 World Cup after a three-month voting process that was derided by fans as undemocratic. FIFA said on Sunday that more than 1.7 million people in Brazil took part in the controversial vote to select the name for the mascot. The other options were Zuzeco and Amijubi.
        

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild